@import "tailwindcss";

@font-face {
  font-family: 'KonTiki';
  src: url('/fonts/Kon Tiki Enchanted JF Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.logo-font {
  font-family: 'KonTiki', serif;
}

.heading-font {
  font-family: var(--font-heading);
}